header{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100vh;
	background-color: $color_main;
	z-index: -10;
	@extend %flex-center;

	.title__container{
		font-weight: 700;
		font-size: 10rem;
		color:$color_secondary_golden;
	}
}
